.index {
    background-image: url("../images/lichking.jpg");    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.recomendaciones{
    background-image: url("../images/reco.jpg");

}
.historia{
    background-image: url("../images/historia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
a{
    text-decoration: none;
    color: yellow;
}
.title {
    font-family: 'lifecraft' , sans-serif;
    font-size: 80px;
    text-align: center;
    text-transform: capitalize;    
}
.header {
    display: flex;
    flex-direction: column;
    
    
}
.logo {
    border: transparent;
    
    
    
    
}
.logo2 {
    border: transparent;
    
    
}
.boton-index {
    background-color: red;   
}
.boton-historia{
    background-color: red;
}
.boton-recomendaciones{
    background-color: red;
}
.headerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid yellow
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.recontent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid yellow
}
.leftContent {  
    align-content: flex-start;
    border: 1px solid greenyellow
}
.rightContent {    
    align-content: flex-end;
    border: 1px solid rgb(45, 192, 45)
}
.content{
    flex-direction: row;
    justify-content: space-around;
    font-family: 'lifecraft' , sans-serif;

}
.footer {
    border: 1px solid pink
}


table,th,tr,td {
    border: 1px solid black;
    font-family: 'lifecraft' , sans-serif;
    
}

.hordetable{
    background-color: rgba(155, 20, 20, 0.747);
    width: 100%;
}
.alliancetable{
    background-color: rgb(33, 33, 155);
    width: 100%;
}
.panda{
    width: 100%;
}
