body {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-family: 'lifecraft' , sans-serif;
    font-size: 80px;
    text-align: center;
    text-transform: capitalize;
    
}
    

.header {
    display: flex;
    flex-direction: column;
    border: 1px solid blue
    
}
.logo {
    border: 1px solid green
    
}
.logo2 {
    border: 1px solid black
    
}
.headerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid yellow
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid yellow
}
.leftContent {  
    align-content: flex-start;
    border: 1px solid greenyellow
}
.rightContent {    
    align-content: flex-end;
    border: 1px solid rgb(45, 192, 45)
}
.footer {
    border: 1px solid pink
}
.tableContent {
    justify-content: space-around;
}
table,th,tr,td {
    border: 1px solid black;
    font-family: 'lifecraft' , sans-serif;
}